@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: $secondary-color;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: $secondary-color;
}

h4 {
  font-size: 20px;
  color: $secondary-color;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: rgba($secondary-color, .5);
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: $secondary-color;
  background-color: $secondary-accent;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: $secondary-accent;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $secondary-accent;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}


//! Header Start
@import "layout/header";
// ! Home page
@import "layout/hero";
// ! Feature
@import "layout/feature";
// ! Product
@import "layout/product";
// ! Banner
@import "layout/banner";
// ! newsletter
@import "layout/newsletter";
// ! footer
@import "layout/footer";


// ? Shop Page
@import "pages/shop";
// ? BLog Page
@import "pages/blog";
// ? About Page
@import "pages/about";
// ? Contact Page
@import "pages/contact";
// ? Cart Page
@import "pages/cart";



// ! Media Query
@import "components/mediaquery"